@font-face {
   font-family: 'helvetica', sans-serif;
   src: url(../../fonts/helvetica.woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'helvetica-bold', sans-serif;
   src: url(../../fonts/helvetica-bold.woff2);
   font-style: normal;
   font-weight: 700;
}