.contacts {
   margin-bottom: 100px;

   &__title {
      margin-bottom: 10px;
   }

   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: end;
   }

   &__form {
      flex-basis: 600px;
   }

   &__text {
      font-size: 13px;
      line-height: 15px;
   }

   &__email {
      padding-right: 18px;
   }
}



.form {
   margin-bottom: 10px;
   position: relative;

}

.form__input {
   width: 100%;
   border: none;
   border-bottom: 1px solid #CACAD6;
   padding: 22px 70px 22px 0;

   &::placeholder {
      font-family: Helvetica;
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
      color: #CACAD6;
   }
}



.form__btn {
   text-transform: uppercase;
   font-weight: 700;
   background: #CACAD6;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   position: absolute;
   right: 0;
   bottom: 5px;
}


@media screen and (max-width: 1023px) {
   .contacts {
      margin-bottom: 70px;
   
      &__title {
         margin-bottom: 10px;
      }
   
      &__wrap {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: end;
      }

      &__form {
         flex-basis: 0;
         margin-bottom: 10px;
      }
   }
}