.games {
   margin-top: 30px;
   margin-bottom: 100px;

   &__header {}

   &__title {
      margin-bottom: 50px;
   }

   &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }

   &__all-games {}

   &__text {
      margin-bottom: 10px;
   }

   &_card-text {
      margin-bottom: 30px;
      padding-right: 10px;
   }

   &__link {
      display: inline-block;
      font-weight: 700;
      line-height: 18px;
      background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      padding: 16px 15px 15px;
      width: 225px;
      border: 1px solid #BC10D8;
      text-align: center;
   }

   &__card {
      padding: 20px;
      display: flex;
      flex-direction: column;
      border: 1px solid #BC10D8;
   }

   &__pic {
      margin-bottom: 10px;
   }

   &__card-title {
      margin-bottom: 10px;
   }

   &__card-link {
      line-height: 18px;
      background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: auto;
   }

}

@media screen and (max-width: 1023px) {
   .games {
      &__content {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@media screen and (max-width: 600px) {

   .games {
      margin-top: 10px;
      &__content {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
      }
      &__link {
         width: 100%;
         margin-bottom: 20px;
      }
   }
}